
.content {
  margin: 0 auto;
  max-width: 1050px;
}

.image {
  margin: 0 auto;
  width: 96%;
  height: 97%;
  object-fit: cover;
  border-radius: 19px;
  cursor: pointer;
}

.imgBody {
  margin: 0 auto;
  aspect-ratio: 3.5/1;
}

.container {
padding-bottom: 30px;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}