.container {
  max-width: 1280px;
  margin: 0 auto;
  border: 1px solid red;
  display: grid;

  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;

  .headerWrapper{
    grid-column: span 3;
  }
  .footerWrapper{
    grid-column: span 3;
  }
  .asideWrapper{
    margin: 50px;
  }
  .mainWrapper{
    margin: 50px;
  }
}
