.container {
  max-width: 1280px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 120px 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header header"
    "aside main"
    "aside footer";
  height: auto;

  .headerWrapper {
    grid-area: header;
  }

  .asideWrapper {
    grid-area: aside;
    padding: 20px 0 50px 20px;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    height: 100vh;
    overflow-y: auto;
  }

  .mainWrapper {
    grid-area: main;
    margin: 20px 0;
  }

  .footerWrapper {
    grid-area: footer;
  }
}