.wrapper {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 5px 15px;
  cursor: pointer;
  border-radius: 25px;
  transition-duration: 0.2s;
  user-select: none;

  &:hover {
    transition-duration: 0.2s;
    background-color: var(--color-info-100);
    color: var(--color-light-100);
  }

  &:active {
    transition-duration: 0.2s;
    box-shadow: 0 0 5px var(--color-info-500);
  }

  .image {
  }

  .title {
    margin-left: 15px;
  }
}